<app-play-button></app-play-button>
<div *ngIf="isAll">
    <app-success-rate></app-success-rate>
</div>
<h1 class="my-3 mx-2 fs-2">{{ title }}</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 p-0">
            <table mat-table class="custom-table" [dataSource]="players" matSort>
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let player" class="fw-bold"> {{ player.id }} </td>
                </ng-container>

                <!-- Nickname Column -->
                <ng-container matColumnDef="nickname">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nickname </th>
                    <td mat-cell *matCellDef="let player"> {{ player.nickname }} </td>
                </ng-container>

                <!--  Email Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let player"> {{ player.email }} </td>
                </ng-container>

                <!-- Success Rate Column -->
                <ng-container matColumnDef="success_rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Success Rate </th>
                    <td mat-cell *matCellDef="let player" class="text-center">
                        <ng-container *ngIf="player.success_rate > ''">
                          {{ player.success_rate }} %
                        </ng-container>
                      </td>                      
                </ng-container>

                <!-- Created At Column -->
                <ng-container matColumnDef="created_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
                    <td mat-cell *matCellDef="let player"> {{ player.created_at | date: 'dd/MM/yyyy HH:mm' }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="isAll">
                <mat-paginator [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>