<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center p-5 text-center custom-form col-md-9 mx-auto">
      <h2 class="mb-2 text-uppercase">Log in</h2>
      <p class="text-white-50 mb-5 fs-6">Please enter your login and password</p>
      <div *ngIf="error" class="custom-alert text-center" role="alert">
        <p class="mb-0 align-middle">{{error}}</p>
      </div>      
      <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="form-outline form-white mb-4">
          <label class="form-label">Email</label>
          <input type="text" name="email" class="form-control custom-input" formControlName="email" />
        </div>
        <div class="form-outline form-white mb-2">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control custom-input" formControlName="password" />
        </div>
        <a href="/register"><p class="text-white-50 fs-6 custom-link">You don't have an account? Create one.</p></a>
        <button type="submit" class="btn btn-outline-light btn-lg custom-form-btn fs-4 px-5 py-2">Log in</button>
      </form>
    </div>
  </div>
</section>