/* You can add global styles to this file, and also import other style files */
body {
    --bs-body-bg: #191825;
    --bs-body-color: white;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.font-rajdhani-300 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 300;
}

.custom-btn {
    border-radius: 1 !important;
    font-weight: 700 !important;
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
    padding-left: 0.4rem !important;
    padding-right: 0.4rem !important;
}